body {
  padding: 50px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body a {
    color: #00B7FF; }

.commands {
  background-color: none; }
  .commands a {
    margin: 2px;
    color: black; }

li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px; }

.menu .bold {
  font-weight: bold; }

@media only screen and (max-width: 641px) {
  .menu .recipeDescription {
    text-align: center; } }

.navli button {
  margin: 5px;
  color: black;
  background-color: aqua; }

.well {
  border: none;
  background-color: white; }

.recipeImage {
  margin: auto;
  align-items: flex-end; }

.recipeDescription {
  text-align: left; }

@media only screen and (max-width: 641px) {
  .recipeDescription {
    text-align: center; } }

.thumbnail {
  border: none; }

.accordion {
  background-color: crimson;
  color: white; }

.collapse {
  margin: 10px;
  padding: 5px; }
  .collapse h5 {
    color: black;
    font-weight: 400; }

.left-text {
  font-weight: bold;
  padding-bottom: 15px; }

/*SPINNER*/
.spinner {
  width: 253px;
  height: 304px;
  background-image: url("../images/bananas.png");
  background-repeat: no-repeat;
  position: relative;
  margin: auto; }

.spinner:after, .spinner:before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.spinner-4:before, .spinner-4:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: red;
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
  opacity: 0; }

.spinner-4:after {
  -webkit-animation: pulse 2s linear 2.3s infinite;
  animation: pulse 2s linear 2.3s infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0; } }
