body {
  padding: 50px;
  padding-top: 0px;
  font-family: 'Rubik', sans-serif;
  a {
    color: #00B7FF;
  }
}

.commands{
  background-color: none;
  text-align: center;
  a{
    margin:2px;
    color:black;
  }
}


li{
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.bold{
  font-weight: bold;
}

.menu{
  @media only screen and (max-width: 641px){
    .recipeDescription{
        text-align: center;
    }
  }
}

.buttonbar{
  text-align: center;
  .glyphicon{
    color:black;
  }
}

#imageClick{
  margin: auto;
  text-align: center;
}
.navli{

  background-color: #333333;
  button{
  margin:5px;
  color:white;
  background-color: #B0BF75;
  }
}

.recipes{
  margin:5px;
  color:white;
  background-color: #B0BF75;
}

.jumbotron{
  background-color: white;
  h1{
    font-weight: bold;
  }
  .page-header{
    margin-top: 0;
  }
}

.well{
  background-color: white;
  border:none;
}

.recipeImage{
  margin: auto;
  align-items: flex-end;
}

.recipeDescription{
  text-align: left;
  font-weight: bolder;
  color: #FA948A
  }
  @media only screen and (max-width: 641px){
    .recipeDescription{
      text-align: center;
    }
  }

.thumbnail{
  border: none;
}

.accordion{
 background-color: crimson;
 color: white;
}

.collapse{
   margin: 0px;
   padding: 0px;
  h5{
   color:black;
   font-weight: 400;
  }
}

.left-text{
 font-weight: bold;
 padding-bottom: 15px;
}

/*SPINNER*/
.spinner {
  width: 100%;
  height: 100%;
  background:none;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}

.spinner:after, .spinner:before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-4:before, .spinner-4:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
  background: red;
  -webkit-animation: pulse 2s linear infinite;
          animation: pulse 2s linear infinite;
  opacity: 0;
}

.spinner-4:after {
  -webkit-animation: pulse 2s linear 2.3s infinite;
          animation: pulse 2s linear 2.3s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
