body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  a {
    color: #00B7FF;
  }

}

.jumbotron{
  background-color: white;
  border: none;
}


/* adds padding to navigation links on header*/
.navli{

background-color: white;
button{
  margin:5px;
  color:black;
  background-color: aqua;
}
}

.commands{
  position:fixed;
  z-index: 888;
  background-color: white;
  a{
    margin:2px;
    color:black;
  }
}
.well{
  border: none;
  background-color: white;
}

.thumbnail{
  border: none;
}

.accordion{

 background-color: crimson;
 color: white;
}
.collapse{
   margin: 10px;
   padding: 5px;
  h5{
   color:black;
   font-weight: 400;
  }
}
.left-text{

 font-weight: bold;
 padding-bottom: 15px;


}
