body {
  padding: 50px;
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body a {
    color: #00B7FF; }

.commands {
  background-color: none; }
  .commands a {
    margin: 2px;
    color: black; }

li {
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px; }

.menu .bold {
  font-weight: bold; }

@media only screen and (max-width: 641px) {
  .menu .recipeDescription {
    text-align: center; } }

.navli button {
  margin: 5px;
  color: black;
  background-color: aqua; }

.well {
  border: none;
  background-color: white; }

.recipeImage {
  margin: auto;
  align-items: flex-end; }

.recipeDescription {
  text-align: left; }

@media only screen and (max-width: 641px) {
  .recipeDescription {
    text-align: center; } }

.thumbnail {
  border: none; }

.accordion {
  background-color: crimson;
  color: white; }

.collapse {
  margin: 10px;
  padding: 5px; }
  .collapse h5 {
    color: black;
    font-weight: 400; }

.left-text {
  font-weight: bold;
  padding-bottom: 15px; }
