body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row.content{

margin:10px;
padding: 5px;

}
.nav{
  margin: 10px;
  padding: 10px;
}

.navli{

  padding:5px;
}
